<launch>
  <include file="$(find ps3joy)/launch/ps3.launch" />
  <node name="ArduinoCommunication" pkg="dns" type="rpi_serial_interface.py" output="screen" />
  <node name="JoystickPS3" pkg="dns" type="control_interface.py" output="screen" />
  <!-- <node name="stair_estimation" pkg="dns" type="stair_node.cpp" output="screen" /> -->
</launch>
